@page "/CustomerCreation"

@attribute [Authorize(Roles = "admin")]

@inject CustomerService customerservice
@inject CustomerPlantService customerplantservice
@inject StateService stateservice
@inject ATM.Data.ApplicationDbContext _context

@using FluentValidation
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using ATM.Models



<span class="margin" style=" font-size:25px; color:indigo;font-family:'Arial'; "  > Customer Creation</span>
<br /><br />
<EditForm Model=@customer OnValidSubmit=@HandleValidSubmit>
     @*<DataAnnotationsValidator />*@
          <FluentValidationValidator TValidator="CustomerFluentvalidation" />
<div class=" row margin align-content-between bg-light   shadow margin:8px" style="border:hidden">
    <div class="row">
        <div class=" margin col-md-3 col-lg-3;  ">
            <br />
            Customer Name <br />
            @*<i class="bi bi-person-square"></i>*@
            <SfTextBox  ID="CustomerName" @bind-Value="customer.CustomerName" ></SfTextBox>
             <br />
            
        </div>
        <div class="margin col-md-3 col-lg-3" >
             <br />
            State <br />
        <SfDropDownList  TValue="string" ID="state" TItem="State" @bind-Value="state_name" DataSource="@States">
            <DropDownListFieldSettings Value="StateName"></DropDownListFieldSettings>
             <DropDownListEvents TValue="string" TItem="State" ValueChange="showdata"></DropDownListEvents>
             @state_name
        </SfDropDownList>
         <br />
         </div>
         <div class="margin col-md-3 col-lg-3 col-sm-3; ">
             <br />
         Pincode <br />
             <SfTextBox   ID="Pincode"  @bind-Value="customer.PINCode"></SfTextBox>
             <br />
         </div>
     </div>
     <div class="row">
         <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.CustomerName)" ></ValidationMessage>
       
         </div>
        @*  <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.State)" ></ValidationMessage>
          
         </div>*@
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.PINCode)" ></ValidationMessage>
     
         </div>
     </div>
     
     <div class="row">
         <div class="margin col-md-3 col-lg-3 col-sm-3; ">
             <br />
         City <br />
             <SfTextBox ID="city"  @bind-Value="customer.City"></SfTextBox>
             <br />
         </div>

         <div class="margin col-md-3 col-lg-3 col-sm-3; ">
             <br />
         Email ID <br />
             <SfTextBox ID="email"  @bind-Value="customer.EmailID"></SfTextBox>
             <br />
         </div>
         <div class=" margin col-md-3 col-lg-3 col-sm-3;  ">
            <br />
            PAN No.
                 <SfTextBox ID="CustomerName"  @bind-Value="customer.PANNo"></SfTextBox>
             <br />
         
        </div>
    </div>
      <div class="row">
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.City)" ></ValidationMessage>
       
         </div>
        
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.EmailID)" ></ValidationMessage>
     
         </div>
           <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.PANNo)" ></ValidationMessage>
          
         </div>
     </div>
     

      <div class="row ">
            
          
            <div class="margin col-md-3 col-lg-3 col-sm-3;  ">
             <br />
            GST No.
            <SfTextBox ID="CustomerName" @bind-Value="customer.GSTNo"></SfTextBox>
             <br />
            </div>
                 <div class="margin col-md-3 col-lg-3 col-sm-3;  ">
             <br />
            Opening Balance
            <SfNumericTextBox TValue="decimal?" @bind-Value=customer.OpeningBalance ></SfNumericTextBox>
             <br />
            </div>
              <div class="margin col-md-3 col-lg-3 col-sm-3; ">
             <br />
             Address 
             <SfTextBox  Multiline="true"  ID="add"  @bind-Value="customer.Address"></SfTextBox>
             <br />
         </div>
       
      </div>
      <div class="row">
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.GSTNo)" ></ValidationMessage>
       
         </div>
        
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.OpeningBalance)" ></ValidationMessage>
     
         </div>
           <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.Address)" ></ValidationMessage>
          
         </div>
     </div>
     
      <div class="row">
            <div class="margin col-md-3 col-lg-3 col-sm-3;  ">
             <br />
             Primary Contact Name
            <SfTextBox ID="CustomerName"  @bind-Value="customer.PrimaryContactPersonName"></SfTextBox>

             <br />
            </div>
                  <div class=" margin col-md-3 col-lg-3 col-sm-3;  ">
            <br />
             Contact Person Contact No.
                   <SfTextBox ID="CustomerName"  @bind-Value="customer.PrimaryContactPersonContact"></SfTextBox>
             <br />
       
            </div>
            <div class="margin col-md-3 col-lg-3 col-sm-3;  ">
             <br />
           
             <br />
         </div>
     </div>
     <div class="row">
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.PrimaryContactPersonName)" ></ValidationMessage>
       
         </div>
        
          <div class=" margin col-md-3">
             <ValidationMessage For="@(() => customer.PrimaryContactPersonContact)" ></ValidationMessage>
     
         </div>
           
     </div>
      <div class="row">
             <div class=" margin col-md-3 col-lg-3 col-sm-3;  ">
            <br />
            <button @onclick="@OpenDialog" class="btn btn-primary e-btn:hover e-success" style="background-color:blueviolet; color:aliceblue; margin-bottom:40px;" >
                 Create Customer Plant</button>
            <SfDialog Target="#target" Width="450px" AllowDragging="true" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogTemplates>
                    <Header> Create Customer Plant</Header>
                    <Content>
                        <div style="padding:20px; margin:10px;">
            @*<EditForm Model=@customerplant OnValidSubmit=@HandleValidSubmit>
                            <DataAnnotationsValidator />
                            <ValidationSummary />*@

                    <div class="row">
                        <div class=" margin   ">
                            <br />
                           Plant Name
                           <SfTextBox  ID="PlantNamere" @bind-Value="customerplant.CustomerPlantName" ></SfTextBox>


                        </div>
                         <div class=" margin   ">
                            <br />
                           Plant Address
                           <SfTextBox  ID="PlantAddress" @bind-Value="customerplant.CustomerPlantAddress" ></SfTextBox>

                        </div>
                         <div class=" margin   ">
                            <br />
                           Vendor Code
                           <SfTextBox  ID="VendorCode" @bind-Value="customerplant.VendorCode" ></SfTextBox>


                        </div>
                    
                </div>
            @*</EditForm>*@
                      
                        </div>
                    </Content>
                </DialogTemplates>
                <DialogButtons>
                    <DialogButton Content="Submit" IsPrimary="true" OnClick="@HandleValidSubmit" />

                </DialogButtons>
            </SfDialog>
            </div>
            <div class="margin col-md-3 col-lg-3 col-sm-3;  " style="text-align:center">
             <br />
            
            <button class="btn btn-primary e-btn:hover e-success" style="background-color:blueviolet; color:aliceblue; margin-bottom:40px;" type="submit">
                 Create Customer</button>
 
            </div>
            <div class="margin col-md-3 col-lg-3 col-sm-3; ">
             <br />
           </div>
     </div>
    

</div>

  </EditForm>


@code {
        public List<Customer> Customers { get; set; } = null!;
        public List<CustomerPlant> CustomerPlants { get; set; } = null!;
        public List<State> States { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Customers = await Task.Run(() => customerservice.GetCustomers());
        CustomerPlants = await Task.Run(() => customerplantservice.GetCustomerPlants());
        States = await Task.Run(() => stateservice.GetStates());
    }

    Customer customer = new Customer();
    CustomerPlant customerplant = new CustomerPlant();
    State state = new State();


    private async void HandleValidSubmit()
    {
         try
        {
            await customerservice.AddCustomer(customer);
            await _context.SaveChangesAsync();

            await customerplantservice.AddCustomerPlant(customerplant);
            await _context.SaveChangesAsync();
            
            await stateservice.AddState(state);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        customer = new Customer();
        base.StateHasChanged();

        customerplant = new CustomerPlant();
        base.StateHasChanged();
        
        state = new State();
        base.StateHasChanged();
    }
}
@code{
    public string  state_name { get; set; } = null!;

    protected void showdata()
    {
        state.StateName = state_name;

    }
}
@*Dialog*@
@code {
    private bool IsVisible { get; set; } = false;

    private void OpenDialog()
    {
        this.IsVisible = true;
    }

    private void CloseDialog()
    {
        this.IsVisible = false;
    }
}
<style>
    .margin{
        margin-left:45px;
        margin-right:45px;
     /*   margin-bottom:45px;*/
    }
   
</style>
